v50.0_1240k_public.*
v50.0_1240k_public_filtered_*.*
Bherer2017_Refined_EUR_genetic_map_sexavg.rmap.txt
Murphy2021_Bvalues_compiled.bmap.txt
Patterson2022/Hazleton*
*/*.par
Patterson2022/brit*
Patterson2022/Patterson2022.*
Patterson2022/Patterson2022_metadata.tsv
Papac2021/Papac2021_forUpload*
Papac2021/Papac2021.*
Rohland2022/
